<div class="container theme-showcase" role="main" style="margin-top:">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	    
	    <form method="POST" action="index.php">
	    	<div class="form-group">
		        <label for="inputGameName">{game_name_form_label}</label>
		        <input type="text" class="form-control" id="inputGameName" placeholder="GameName">
		    </div>
		    
		    <div class="form-group">
			  <label for="sel1">{game_player_form_label}</label>
			  <select class="form-control" id="gamePlayerNumber">
			    <option>3</option>
			    <option>4</option>
			    <option>5</option>
			  </select>
			</div>
			
			<div class="form-group">
			  <label for="sel1">{game_language_form_label}</label>
			  <select class="form-control" id="gameLanguage">
			    <option>ITA</option>
			    <option>ENG</option>
			  </select>
			</div>
		    
	    	<button type="submit" class="btn btn-primary">Start</button>
	    
	    </form>
	    
	</div>
</div>