<div class="container theme-showcase" role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
      
      La nuova partita è stata creata correttamente con identificativo: {id_game}
      
       <form method="POST" action="index.php?page=newGame">
	    
	    	<input type="hidden" name="doAction" value="1" />
	    	<input type="hidden" name="actionName" value="createGame" />
	    	
	   </form> 	
      
      
      </div>
</div>